.App {
  text-align: center;
}

.App-spdzlogo {
  height: 4rem;
}

.App-header {
  background-color: #222;
  padding: 20px 15px 5px 15px;
  color: white;
}

.App-header h4 {
  margin: 10px;
  color: lightblue;  
}
.App-header h4 a, a:visited {
  text-decoration: none;
}

.App-header h4 a:hover, a:active {
  color: lightgrey;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

.App-main {
  margin: 0;
  padding: 10px;
  /*display: flex;
  justify-content: center;  */
}
