/* Extra classes are needed to get higher specificity than bootstrap */
.DaySchedule .DaySchedule-header {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  text-align: right;
  background: lightblue;
}

.DaySchedule .DaySchedule-header h4 {
  padding-left: 1rem;
}

.DaySchedule .DaySchedule-header button {
  background: lightblue;
}

.DaySchedule .DaySchedule-content {
  margin-bottom: 0;
}

.DaySchedule .DaySchedule-content .panel-body {
  padding: 5px 15px;
}

.DaySchedule-row {
  padding: 5px 0px;
  border-bottom: 1px solid lightblue;
}

.DaySchedule-row:last-child {
  padding: 5px 0px;
  border-bottom: 0px;
}

.DaySchedule-row .DaySchedule-col {
  padding: 0px 5px;
}

.DaySchedule-row .DaySchedule-author {
  padding: 0px 5px;  
  color: #e85a32;
  font-weight: 600;
}