/* Extra classes are needed to get higher specificity than bootstrap */
.DaySchedule-row {
  padding: 5px 0px;
  border-bottom: 1px solid lightblue;
}

.DaySchedule-row:last-child {
  padding: 5px 0px;
  border-bottom: 0px;
}

.DaySchedule-row .DaySchedule-col {
  padding: 0px 5px;
}

.DaySchedule-row .DaySchedule-author {
  padding: 0px 5px;  
  color: #e85a32;
  font-weight: 600;
}