/* Extra classes are needed to get higher specificity than bootstrap */
.DisplayTalk-row {
  padding: 5px 0px;
  border-bottom: 1px solid lightblue;
}

.DisplayTalk-row:last-child {
  padding: 5px 0px;
  border-bottom: 0px;
}

.DisplayTalk-row .DisplayTalk-col {
  padding: 0px 5px;
}

.DisplayTalk-row .DisplayTalk-author {
  padding: 0px 5px;  
  color: #e85a32;
  font-weight: 600;
}

.DisplayTalk-row .DisplayTalk-missing {
  padding: 0px 5px;  
  color: #999;
}

.DisplayTalk-row .DisplayTalk-vote button {
  padding: 0px 5px 0px 5px;
  color: #999;
  font-size: 26px;
  padding: 1px;
  border-width: 0;
  background: white;
}

.DisplayTalk-row .DisplayTalk-vote button span.selected:before {
  content: '\2605';
  color: gold;
  position: absolute;
}
